<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yahobong.server.albums.mapper.AlbumMapper">

    <!-- 앨범을 사용자별로 조회하는 SQL -->
    <select id="findAlbumsByUserNo" resultType="AlbumDTO">
        SELECT albumsNo, userNo, title
        FROM albums
        WHERE userNo = #{userNo}
    </select>

    <!-- 앨범 번호로 조회 -->
    <select id="findAlbumById" resultType="AlbumDTO">
        SELECT albumsNo, userNo, title
        FROM albums
        WHERE albumsNo = #{albumsNo}
    </select>

    <!-- 앨범 추가 -->
    <insert id="insertAlbum" useGeneratedKeys="true" keyProperty="albumsNo">
        INSERT INTO albums (title, userNo)
        VALUES (#{title}, #{userNo})
    </insert>

    <!-- 앨범 제목 업데이트 -->
    <update id="updateAlbumTitle">
        UPDATE albums
        SET title = #{title}
        WHERE albumsNo = #{albumsNo}
    </update>

    <!-- 앨범 삭제 -->
    <delete id="deleteAlbum">
        DELETE FROM albums
        WHERE albumsNo = #{albumsNo}
    </delete>

</mapper>
